/* This sets the margin and padding of every HTML element to zero and the box-sizing: border-box; declaration changes the box model by ensuring that the padding and border of an element no longer increases its width. */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}






/* my eyes! */
.parentBG{
  background-color: black;
}
.calculator {
  /* border: width style color    */
  border: 1px solid #ccc;
  
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.screen {
  width: 100%;
  font-size: 5rem;
  height: 8rem;
/*   border: none; */
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 7rem;
  background-color: transparent;
  border-radius: 1px;
  
/*   border: 1px solid #c4c4c4; */
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4;
  
  font-size: 2rem;
  color: #333;
/*   background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4); */
}

button:hover {
/*   background-color: #eaeaea; */
    background-color: lightblue;
}

.buttons {
  display: grid;
/*   grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.zero{
  grid-column-start: span 2 ;

}

.special{
  background-color: #d4d4d4
}

.operator {
  background-color: #FF9500;
  color: #fff
}

.numbers{
  background-color: #fff
}